body {
  text-align: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timeDisplay {
  margin-left: auto;
  margin-right: 0;
}

#toDoContainer {
  margin: 20px;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

#toDoForm {
  align-items: center;
}

#todoInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 80%;
}

div.toDoListContainer {
  text-align: center;
}

ul#toDoList {
  display: inline-block;
  text-align: left;
  width: 80%;
}

.strikethrough {
  transform: scale(1.5);
  cursor: pointer;
}

label.checkboxText {
  font-size: 1.1rem;
  margin-bottom: 0px;
}

button.deleteTask {
  margin-left: auto;
}

.strikethrough:checked + .checkboxText {
  text-decoration: line-through;
  color: gray;
}

div.timerContainer {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 15px;
}

#timerProgressBar {
  width: 0%;
  transition: width 1s linear;
}

div.timerDivDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  margin: 12px;
}

.timerCountdown {
  font-size: 2.5rem;
  margin: 8px;
  padding: 0;
  width: 300px;
  text-align: center;
}

div.timerInputDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;
  height: 80px;
}

div.timerInputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

/* Match font size and height of input to h1 */
.timerInput {
  font-size: 2.5rem; /* Adjust based on h1's font size */
  height: 3rem; /* Adjust to match h1's height */
  width: 5rem;
  text-align: center;
  padding: 0;
  margin: 0 5px;
  box-sizing: border-box;
}

#setTimer {
  margin: 0 5px;
}

p#errorMsg {
  color: red;
  display: none;
}
