body {
  text-align: center;
}

#timeDisplay {
  margin-left: auto;
  margin-right: 0;
}

#toDoContainer {
  margin: 20px;
  display: inline-block;
}

#todoInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

div.toDoListContainer {
  text-align: center;
}

ul#toDoList {
  display: inline-block;
  text-align: left;
}

.strikethrough:checked + .checkboxText {
  text-decoration: line-through;
  color: gray;
}

div.timerInputDiv {
  display: none;
}

input.timerInput {
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

p#errorMsg {
  color: red;
  display: none;
}
